main #content_sale #properties .card {
    width: 100%;
    padding-top: 30px;
    transition: ease-out 0.3s;
    border: 1px solid #193F60;
    margin: 20px 0;
}

main #content_sale #properties .card:hover {
    box-shadow: 0 0 10px 2px #193F60;
}

main #content_sale #properties .card .card-text {
    text-align: center;
    min-height: 180px;
}
