@media (min-width: 991px) {
    header .navbar a.nav-link {
        height: 100px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    header .navbar a.nav-link.active {
        background-color: #5182B1;
        color: #fff !important;
        height: 100px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    header .navbar a.nav-link:hover {
        color: #5182B1 !important;
        height: 100px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

@media (max-width: 1999px) {
    section#wellcome h2 {
        font-size: 30px;
    }


}

@media (max-width: 991px) {
    section#wellcome h2 {
        font-size: 35px;
    }

    section#main {
        padding: 7px;
    }    
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .navbar-brand img {
        height: 35px;
    }
    
    .navbar-brand-title {
        display: none !important;
    }

    section#wellcome h2 {
        font-size: 25px;
    }

    section#wellcome h4 {
        font-size: 15px;
    }

    #comments #comment-header::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 1.5px;
        background-color: #cecece;
        margin-right: 10px;
    }
    
    #comments #comment-header::after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 1.5px;
        background-color: #cecece;
        margin-left: 10px;
    }
    

}
